/**
 * Post Comments Block
 * comment inner markup comes from UND_Walker_Comment class
 */
.comments-block {

  padding-bottom: 4em;

  h2,
  #reply-title {
    @include font-size(20);
    margin-bottom : 1rem;
    font-family   : $font-base;
    text-transform: capitalize;
    line-height   : 1.3;
    color         : $black;
  }

  .comments-block__content {

    .comments {
      border     : 2px solid #ccc;
      padding    : 2rem;
      padding-top: 1em;
    }

    .comment {
      padding-bottom: 2em;
      margin-bottom : 2em;
      border-bottom : 1px solid $gray;

      &:last-child {
        margin : 0;
        border : none;
        padding: 0;
      }
    }

    .comment-meta {
      padding-bottom: 1em;

      .comment-author,
      .comment-metadata {
        display: inline-block;
      }

      a {
        color          : $black;
        text-decoration: none;
      }

    }

    #respond {
      margin: 2em 0;
    }

    .logged-in-as {
      float: right;

      a {
        text-decoration: none;
      }
    }

    #commentform {
      label {
        display       : block;
        padding-bottom: 0.5em;
      }

      .comment-form-comment {
        padding-top: 1em;
      }

      textarea,
      input[type=text] {
        width           : 100%;
        padding         : 1em;
        border          : none;
        background-color: $gray-light;
        resize          : vertical;
      }

      input[type=checkbox]+label {
        display: inline;
      }

      

      .submit {
        color: $black;
        font-family: Trade Gothic,Oswald Medium,Oswald,Arial,sans-serif;
        font-weight: 400;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1.75px;
        padding: 0;
        background: unset;
        border: unset;

        &:hover{
          @include themify() {
            color: theme( 'textColorOnThemeColor' );
          }
        }

        input[type=submit] {
          width: 100%;
        }
      }
    }
  }
}