<div class="pre-footer module--black pre-footer--college">
  <div class="container">
    <div class="grid">
      <div class="grid__item grid__item--3 grid__item--break-to-half">
        <h2 class="h3">Department Name</h2>
        <p class="serif-large">
          Sample Hall Room 0000<br>
          0000 Sample Dr Stop 0000<br>
          Grand Forks, ND 58202-0000<br>
          P 701.777.0000<br>
          F 701.777.0000
        </p>
        <p>
          <a href="#" class="button--link">Contact us</a>
        </p>
      </div>
      <div class="grid__item grid__item--5 grid__item--break-to-half">
        <h2 class="h3">Administration</h2>
        <ul class="pre-footer__list">
          <li><a href="#" class="pre-footer__link">Login</a></li>
          <li><a href="#" class="pre-footer__link">Entries RSS</a></li>
          <li><a href="#" class="pre-footer__link">Comments RSS</a></li>
          <li><a href="#" class="pre-footer__link">wordpress.org</a></li>
        </ul>
      </div>
      <div class="grid__item grid__item--5 grid__item--break-to-half">
        <h2 class="h3">Resources</h2>
        <ul class="pre-footer__list">
          <li><a href="#" class="pre-footer__link">Library</a></li>
        </ul>

      </div>
      <div class="grid__item grid__item--4">
        <h2 class="h3">Follow Us</h2>
        {% set socialList = {short: false} %}
        {% include "modules/_social-list.html" %}
      </div>
    </div>
  </div>
</div>
