<nav id="pagination">
  <ul class="page-numbers">
    <li><a class="previous page-numbers" href="#">Previous</a></li>
    <li><a class="page-numbers" href="#">1</a></li>
    <li><a class="page-numbers" href="#">2</a></li>
    <li><span class="page-numbers current">3</span></li>
    <li><a class="page-numbers" href="#">4</a></li>
    <li><a class="ellipses" href="#">...</a></li>
    <li><a class="page-numbers" href="#">10</a></li>
    <li><a class="next page-numbers" href="#">Next</a></li>
  </ul>
</nav>
