<!-- the regular WP sidebar meta stuff -->

<!-- follow social icons -->
<div class="widget widget_social-links">
  <div class="widget-content">
    <h2 class="widget-title subheading heading-size-3">Follow</h2>

    <ul class="social__list">
      <li class="social__item"><a href="#" class="social__link">
          <span class="svgstore svgstore--social-youtube">
            <svg>
              <title>Youtube</title>
              <use xlink:href="#svgstore--social-youtube"></use>
            </svg>
          </span>
        </a></li>
      <li class="social__item"><a href="#" class="social__link">
          <span class="svgstore svgstore--social-instagram">
            <svg>
              <title>Instagram</title>
              <use xlink:href="#svgstore--social-instagram"></use>
            </svg>
          </span>
        </a></li>
      <li class="social__item"><a href="#" class="social__link">
          <span class="svgstore svgstore--social-facebook">
            <svg>
              <title>Facebook</title>
              <use xlink:href="#svgstore--social-facebook"></use>
            </svg>
          </span>
        </a></li>
      <li class="social__item"><a href="#" class="social__link">
          <span class="svgstore svgstore--social-twitter">
            <svg>
              <title>Twitter</title>
              <use xlink:href="#svgstore--social-twitter"></use>
            </svg>
          </span>
        </a></li>
      <li class="social__item"><a href="#" class="social__link">
          <span class="svgstore svgstore--social-linkedin">
            <svg>
              <title>Linkedin</title>
              <use xlink:href="#svgstore--social-linkedin"></use>
            </svg>
          </span>
        </a></li>
      <li class="social__item"><a href="#" class="social__link">
          <span class="svgstore svgstore--social-tiktok">
            <svg>
              <title>TikTok</title>
              <use xlink:href="#svgstore--social-tiktok"></use>
            </svg>
          </span>
        </a>
      </li>
    </ul>

  </div>
</div>

<!-- categories -->
<div class="widget widget_categories">
  <div class="widget-content">
    <h2 class="widget-title subheading heading-size-3">Categories</h2>
    <ul>
      <li class="cat-item"><a href="#">Education (3)</a></li>
      <li class="cat-item"><a href="#">Events (25)</a></li>
      <li class="cat-item"><a href="#">From The Dean (25)</a></li>
      <li class="cat-item"><a href="#">Library (16)</a></li>
      <li class="cat-item"><a href="#">News (8)</a></li>
      <li class="cat-item"><a href="#">Research (64)</a></li>
      <li class="cat-item"><a href="#">Welcome (5)</a></li>
    </ul>
  </div>
</div>

<!-- meta -->
<div class="widget widget_links">
  <div class="widget-content">
    <h2 class="widget-title subheading heading-size-3">Meta</h2>
    <a href="#">Log In</a>
    <a href="#">Entries RSS</a>
    <a href="#">Comments RSS</a>
    <a href="#">WordPress.org</a>
  </div>
</div>

<!-- archive 2 col -->
<div class="widget widget_archive">
  <div class="widget-content">
    <h2 class="widget-title subheading heading-size-3">Archive</h2>
    <div class="columns">
      <div class="columns__item archive__links">
        <a href="#">January 2020</a>
        <a href="#">February 2020</a>
        <a href="#">March 2020</a>
        <a href="#">April 2020</a>
        <a href="#">May 2020</a>
        <a href="#">June 2020</a>
        <a href="#">July 2020</a>
        <a href="#">August 2020</a>
        <a href="#">September 2020</a>
        <a href="#">October 2020</a>
        <a href="#">November 2020</a>
        <a href="#">December 2020</a>
      </div>
      <div class="columns__item archive__links">
        <a href="#">January 2019</a>
        <a href="#">February 2019</a>
        <a href="#">March 2019</a>
        <a href="#">April 2019</a>
        <a href="#">May 2019</a>
        <a href="#">June 2019</a>
        <a href="#">July 2019</a>
        <a href="#">August 2019</a>
        <a href="#">September 2019</a>
        <a href="#">October 2019</a>
        <a href="#">November 2019</a>
        <a href="#">December 2019</a>
      </div>
    </div>

  </div>
</div>



<!-- tags -->
<div class="widget widget_tags">
  <div class="widget-content">
    <h2 class="widget-title subheading heading-size-3">Tags</h2>
    <a class="tag" href="#"><span class="tag-icon"></span> parturient</a>
    <a class="tag" href="#"><span class="tag-icon"></span> ornare</a>
    <a class="tag" href="#"><span class="tag-icon"></span> fringilla</a>
    <a class="tag" href="#"><span class="tag-icon"></span> tristique</a>
    <a class="tag" href="#"><span class="tag-icon"></span> inceptos</a>
    <a class="tag" href="#"><span class="tag-icon"></span> pharetra</a>
    <a class="tag" href="#"><span class="tag-icon"></span> vulputate</a>
    <a class="tag" href="#"><span class="tag-icon"></span> euismod</a>
  </div>
</div>
